<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
<!-- 	 enterprise   app-store  ad-hoc development -->
	<string>enterprise</string>
	<key>provisioningProfiles</key>
  <dict>
    <key>my.bundle.idenifier</key>
    <string>My Provisioning Profile Name</string>
  </dict>
<!-- 	以下依情况添加 -->
<!--    <key>teamID</key> 
   <string>your teamID</string> -->
   	<!-- 	iCloudContainerEnvironment = Production/Development is only required if you use CloudKit -->
<!--    <key>iCloudContainerEnvironment </key>
    <string> Production</string> -->
</dict>
</plist>
